## Function

- does operation and task

- block of codes which executes on a call

- reduces redundency(repetition of the code)

- reuse of the code

**Function**

- Reuse of code block
- also called as method
- fun without argument
- fun with argument
- fun with default argument
- fun with keyword argument(kwargs)
- fun with global and local variable
- fun with return
- fun inside fun

**Function without argument**

In [5]:
# syntax
def <function_name>():
    <write code here>

SyntaxError: invalid syntax (3013116968.py, line 2)

In [9]:
num1 = eval(input("Enter number 1 :"))
num2 = eval(input("Enter number 2 :"))
add = num1+num2
print(f"the addition of {num1} and {num2} is {add}")

Enter number 1 : 100
Enter number 2 : 200

the addition of 100 and 200 is 300

In [11]:
def Addition():
    num1 = eval(input("Enter number 1 :"))
    num2 = eval(input("Enter number 2 :"))
    add = num1+num2
    print(f"the addition of {num1} and {num2} is {add}")

**Call the function**

In [13]:
Addition()

Enter number 1 : 100
Enter number 2 : 200

the addition of 100 and 200 is 300

**Note**

- fun name rules same as variable rules
- fun name should be different from variable name using inside function
- fun name should not be any **keywords**
- fun name should not be any **package name**
- fun name should not be any **file_name or notebook_name**

**definfing function will not give any error**

- while defining the function we doesnot whether the error is there or not
- for that we need to call the function

In [24]:
def Addition1():
    num1 = eval(input("Enter number 1 :"))
    num2 = eval(input("Enter number 2 :"))
    add = num1+num2
    print(f"the addition of {num12} and {num2} is {add}")

In [26]:
Addition1()

Enter number 1 : 100
Enter number 2 : 200

NameError: name 'num12' is not defined

**try end except for entire function**

In [44]:
try:
    def Addition2():
        num1 = eval(input("Enter number 1 :"))
        num2 = eval(input("Enter number 2 :"))
        add = num1+num2
        print(f"the addition of {num1} and {num2} is {add}")
except Exception as e:
    print(e)

Addition2()

Enter number 1 : jgfg

NameError: name 'jgfg' is not defined

**try and except indide function**

In [42]:
def Addition3():
    try:
        num1 = eval(input("Enter number 1 :"))
        num2 = eval(input("Enter number 2 :"))
        add = num1+num2
        print(f"the addition of {num1} and {num2} is {add}")    
    except Exception as e:
        print(e)

Addition3()

Enter number 1 : 100
Enter number 2 : 2.lmnj

invalid decimal literal (<string>, line 1)

## **try and except should always write inside the function**

# Average function

In [52]:
def Average():
    try:
        n1 = eval(input("Enter the first number "))
        n2 = eval(input("Enter the second number "))
        n3 = eval(input("Enter the third number "))
        avg = (n1+n2+n3)/3
        print(f"The average of {n1}, {n2}, {n3} is {avg}")
    except Exception as e:
        print(e)

Average()

Enter the first number  100
Enter the second number  200
Enter the third number  300

The average of 100, 200, 300 is 200.0

**Functions with arguments**

In [6]:
def Addition5(n1,n2):
    try:
        add = n1+n2
        print(f"the addition of {n1} and {n2} is {add}")    
    except Exception as e:
        print(e)

Addition5(100,200)

the addition of 100 and 200 is 300

In [8]:
Addition5()

TypeError: Addition5() missing 2 required positional arguments: 'n1' and 'n2'

In [10]:
Addition5(120)

TypeError: Addition5() missing 1 required positional argument: 'n2'

In [12]:
Addition5(120,541)

the addition of 120 and 541 is 661

In [16]:
def Add(n1):
    try:
        n2 = eval(input("Enter number 2 :"))
        add = n1+n2
        print(f"the addition of {n1} and {n2} is {add}")    
    except Exception as e:
        print(e)

Add(100)

Enter number 2 : 4201

the addition of 100 and 4201 is 4301

In [18]:
def Average(n1,n2,n3):
    try:
        avg = (n1+n2+n3)/3
        print(f"The average of {n1}, {n2}, {n3} is {avg}")
    except Exception as e:
        print(e)

Average(100,254,364)

The average of 100, 254, 364 is 239.33333333333334

**Functions with Default arguments**

In [21]:
def Addition5(n1,n2=50):
    add = n1+n2
    print(f"the addition of {n1} and {n2} is {add}")    

Addition5(100)

the addition of 100 and 50 is 150

- In above function the n2 value is fixed as 50 and called as default argument
- while calling fun no need to give argument
- if we provide again the value will change

In [24]:
def Addition5(n1,n2=50):
    add = n1+n2
    print(f"the addition of {n1} and {n2} is {add}")    

Addition5(100,20)

the addition of 100 and 20 is 120

In [30]:
def Average(n1,n2,n3=40):
    print("n1 :",n1)
    print("n2 :",n2)
    print("n3 :",n3)
    avg = (n1+n2+n3)/3
    print(f"The average of {n1}, {n2}, {n3} is {avg}")


Average(10,30)

n1 : 10
n2 : 30
n3 : 40
The average of 10, 30, 40 is 26.666666666666668

In [32]:
def Average(n1,n2=80,n3=40):
    print("n1 :",n1)
    print("n2 :",n2)
    print("n3 :",n3)
    avg = (n1+n2+n3)/3
    print(f"The average of {n1}, {n2}, {n3} is {avg}")


Average(10)

n1 : 10
n2 : 80
n3 : 40
The average of 10, 80, 40 is 43.333333333333336

In [34]:
def Average(n1,n2=80,n3):
    print("n1 :",n1)
    print("n2 :",n2)
    print("n3 :",n3)
    avg = (n1+n2+n3)/3
    print(f"The average of {n1}, {n2}, {n3} is {avg}")


Average(10,20)

SyntaxError: parameter without a default follows parameter with a default (2932512447.py, line 1)

**Default arguments aleays at last**

In [39]:
def Average(n1,n3,n2=80):
    print("n1 :",n1)
    print("n2 :",n2)
    print("n3 :",n3)
    avg = (n1+n2+n3)/3
    print(f"The average of {n1}, {n2}, {n3} is {avg}")


Average()

TypeError: Average() missing 2 required positional arguments: 'n1' and 'n3'

In [ ]:
n1,n2,n3=10        #W
n1,n2=10,n3        #F
n1=10,n2,n3        #F
n1,n2=10,n3=10     #W
n1=10,n2,n3=10     #F
n1=10,n2=10,n3     #F
n1=10,n2=10,n3=10  #W

In [7]:
print("Function without argument")
def tax_calc1():
    salary = eval(input("Enter the salary :"))
    tax_per = eval(input("Enter the tax: "))
    tax_pay = salary*tax_per/100
    print(f"The total tax pay {tax_pay}")

tax_calc1()

print("Function with argument")
def tax_calc2(salary,tax_per):
    tax_pay = salary*tax_per/100
    print(f"The total tax pay {tax_pay}")

tax_calc2(50000,10)

print("Function with default argument")
def tax_calc3(salary=100000,tax_per=25):
    tax_pay = salary*tax_per/100
    print(f"The total tax pay {tax_pay}")

tax_calc3()

Function without argument

Enter the salary : 10000
Enter the tax:  10

The total tax pay 1000.0
Function with argument
The total tax pay 5000.0
Function with default argument
The total tax pay 25000.0

**Analogy with packages**

In [10]:
from random import randint, random

In [20]:
randint()        #shift+tab inside bracket
tax_calc1()

random()
tax_calc2()

In [14]:
complex()   # default argument is complex(real=0, imag=0)

0j

In [18]:
complex(0,0)     # real=0,   imag=0  0+0j=0j

0j

In [16]:
complex(3,4)   #real=3, img=4,   3+4j

(3+4j)

- Now omwards if you see any package

- always do shift+tab indise function to check
    - with argument
    - without argument
    - default argument

In [27]:
def add(a,b,c):
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")

add(100,200,300)

a : 100
b : 200
c : 300
The summation of 100, 200, 300 is 600

**case-1**

In [31]:
def add(a,b,c=700):
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")

add(100,200)

a : 100
b : 200
c : 700
The summation of 100, 200, 700 is 1000

**case-2**

In [33]:
def add(a,b,c=700):
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")

add(100,200,300)

a : 100
b : 200
c : 300
The summation of 100, 200, 300 is 600

**case-3**
- while define c=300
- while calling c=700
- while running c=1000

In [38]:
def add(a,b,c=700):
    c=1000
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")

add(100,200,300)


# while define c=300
# while calling c=700
# while running c=1000

a : 100
b : 200
c : 1000
The summation of 100, 200, 1000 is 1300

In [42]:
def add(a,b,c):
    c=1000
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")

add(100,200,300)

a : 100
b : 200
c : 1000
The summation of 100, 200, 1000 is 1300

In [44]:
def add(a,b,c):
    c=1000
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")
c=2000
add(100,200,300)

a : 100
b : 200
c : 1000
The summation of 100, 200, 1000 is 1300

In [46]:
c=3000                      # this variav+ble "c"  is called global variable
def add(a,b):
    #c=1000
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")
add(100,200)


# c=3000   
# add() there is no c , so c =3000
# call no c, c=3000
#inside the any c, c=3000

a : 100
b : 200
c : 2000
The summation of 100, 200, 2000 is 2300

**global variable  Vs Local Variable**

- the variables outside the function is called as global variable
    - Global variables can be used anywhere
    - global var can be used inside the function as well as outside the function

- the variables inside the function is called as **Local variable**
    - local varaible can be used only inside function
    - local variables cannot be used outside the function

In [67]:
def addition():
    n11=100
    n12=200
    summ=n11+n12
    print(f"Thesummation of {n11}, {n12} is {summ}")

addition()

Thesummation of 100, 200 is 300

In [69]:
n11     #Local variable

NameError: name 'n11' is not defined

In [71]:
n21=500
n22=700
def addition():
    summ=n21+n22
    print(f"Thesummation of {n21}, {n22} is {summ}")

addition()

Thesummation of 500, 700 is 1200

In [73]:
n21    # Global variable

500

**How can you make local variable to global variable**

- by using keyword **global**

In [76]:
n21=500
n22=700
def addition():
    global summ                  # converting local variable to global variable
    summ=n21+n22
    print(f"Thesummation of {n21}, {n22} is {summ}")

addition()

Thesummation of 500, 700 is 1200

In [78]:
summ

1200

- In below example **s** is not initialised
- we might think name error will come
- but inside finction we will get **unbound local error**

In [84]:
sum1=0
def add1():
    n1=100
    s=n1+s
    print(s1)

add1()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [89]:
sum1=0
def add1():
    n1=100
    sum1=n1+s
    print(s1)

add1()

NameError: name 's' is not defined

In [91]:
sum1=0
def add1():
    n1=100
    s1=summ1+n1
    print(s1)

add1()

NameError: name 'summ1' is not defined

In [93]:
sum1=0
def add1():
    n1=100
    summ1=summ1+n1
    print(s1)

add1()

UnboundLocalError: cannot access local variable 'summ1' where it is not associated with a value

In [95]:
def avg(a,b,c):
    ADD = a+b+c
    AVG1 = ADD/3 
    print(ADD,AVG1)

avg(10,20,30)

60 20.0

In [97]:
def avg(a,b,c):
    global ADD, AVG1
    ADD = a+b+c
    AVG1 = ADD/3 
    print(ADD,AVG1)

avg(10,20,30)

60 20.0

In [99]:
ADD, AVG1

(60, 20.0)

In [101]:
c=1000                      
def add(a,b,c=2000):
    c=5000
    print("a :",a)
    print("b :",b)
    print("c :",c)
    summ=a+b+c
    print(f"The summation of {a}, {b}, {c} is {summ}")
c=3000
add(100,200,4000)

a : 100
b : 200
c : 5000
The summation of 100, 200, 5000 is 5300

In [103]:
# first step --> define c outside function c=1000 
# Second step --> define function, passing default argument, c=2000
# Third step  --> define c after function ends, c=3000
# Fourth step --> calling function, c=4000
# Fifth step --> runnig the function, c=5000

# since python is a step by step language so at last the value of c=5000 assings and it will provide result based on that only.

#wap ask the user enter a number
#print is is even or odd
- a) Function without argument with default
- b) Function with argument
- c) function with

In [12]:
def  check():
    num=eval(input("Enter a number:"))
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

check()

Enter a number: 65

The number is odd

In [7]:
def  check(num=25):
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

check()

The number is odd

In [10]:
def  check(num):
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

check(101)

The number is odd

In [14]:
def  check(num9=100):        #num9 is a parameter and not a varaible
    global num9              # num9 is consider as a variable 
    if num9%2==0:
        print("The number is even")
    else:
        print("The number is odd")

check()

SyntaxError: name 'num9' is parameter and global (652136180.py, line 2)

**Parameter Vs Varables**

- Parameter are also called as arguments
- this alwways inside the function bracketrs

- Variables are either outside the function or inside

In [16]:
def  check():
    global num23
    num23=eval(input("Enter a number:"))
    if num23%2==0:
        print("The number is even")
    else:
        print("The number is odd")

check()

Enter a number: 54

The number is even

In [18]:
num23

54

**return**

In [32]:
def add():
    a=10
    b=20
    c=a+b
    return(c)

new=add()       # add function will return a value and we need to store it in a variable(new)

In [34]:
new

30

In [36]:
def add():
    a=10
    b=20
    c=a+b
    return(c)

new=add()

In [46]:
val = 10,20
val

(10, 20)

In [48]:
val1,val2 =10,20
val1,val2

(10, 20)

In [50]:
val1, val2=10
val1, val2

TypeError: cannot unpack non-iterable int object

In [56]:
def add():
    a=10
    b=20
    c=a+b
    return(c)

c=add() 
c

30

In [54]:
def add():
    a=10
    b=20
    c=a+b
    return(a,c)

a,c=add()

In [58]:
a,c

(10, 30)

In [70]:
def avg(a,b,c):
    summ=a+b+c
    AVG=summ/3
    return(a,b,c)

n1,n2,n3=avg(10,20,30)
n1,n2,n3

(10, 20, 30)

In [72]:
def avg(a,b,c):
    summ=a+b+c
    AVG=summ/3
    return(summ,AVG)

sum1,avg1=avg(10,20,30)
sum1,avg1

(60, 20.0)

In [78]:
def  check():
    num_2=eval(input("Enter a number:"))
    if num_2%2==0:
        print("Even number")
        return(num_2)
    else:
        print("Odd number")
        return(num_2)

num_2=check()
num_2

Enter a number: 85

Odd number

85

In [82]:
def  check():
    num_2=eval(input("Enter a number:"))
    if num_2%2==0:
        return(f"The number {num_2} is Even number")
    else:
        return(f"The number {num_2} is Odd number")

num_2=check()
num_2

Enter a number: 87

'The number 87 is Odd number'

**function in function**

In [87]:
def greet1():
    print("Hello gid morming")

def greet2():
    print("Hello good night")


greet1()
greet2()

Hello gid morming
Hello good night

In [89]:
def greet1():
    print("Hello gid morming")

def greet2():
    print("Hello good night")
    greet1()

greet2()

Hello good night
Hello gid morming

In [91]:
def greet1():
    print("Hello gid morming")
    greet2()
    
def greet2():
    print("Hello good night")

greet1()

Hello gid morming
Hello good night

In [ ]:
# infinite loop
#def greet1():
    print("Hello gid morming")
    greet2()
    
$def greet2():
    print("Hello good night")
    greet1()

greet1()

In [ ]:
#def greet3():               #####recursive loop
    print("I don't know what im doing")
    greet3()

In [107]:
def add(n):
    if n==0:
        return(0)
    else:
        return(n+add(n-1))

out1=add(5)
out1


# step 1: n=5 if F else 5+add(4)
# step 2: n=4 if F else 5+4+add(3)
# step 3: n=3 if F else 5+4+3+add(2)
# step 4: n=2 if F else 5+4+3+2+add(1)
# step 5: n=1 if F else 5+4+3+2+1+add(0)
# step 6: n=0 if T

15

In [ ]:
# 1). Factorial recurrsion 5!
# 2). Calculator prog
        - four func
            - add,sub,mul,div
        - 1 for add, 2 for sub...
        - def main() fun
            opt = eval (Enter option for cal)
            if opt =1
                add....