In [1]:
# **List comprehension 4 methods**

#  1. [output forloop]
#  2. [output forloop ifcondition]
#  3. [ifoutput ifcondition else elseoutput forloop]
#  4. [ifoutput if_condition else elif_output elif_confition else else_output forloop]

**List Compehension**

- list comprehension is a way to wrute list operations in a single line

- when we apply **for** loop and **if-else**  conditional statements then the code compilation becomes slow

- which means it takes much time

- in order to aviod the time complexity we will use list comprehension

- list compehension is a single line code

**case-1 for loop**

In [3]:
list1=[]
for i in range(10):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]

list1=[<output variable> <for loop>]

In [7]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

In [13]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.title() for i in input]
print(output)

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [15]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
print(output)

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [17]:
# sum of first 10 natural numbers and save in list

In [69]:
summ=0
l1=[summ:=summ+i for i in range(1,11)]
print(summ)

55

In [25]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
# multiply indexes with 10

In [31]:
input=['hyd','bengaluru','pune','mumbai']
output=[i*10 for i in range(len(input))]
output

[0, 10, 20, 30]

In [41]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in ['hyd','bengaluru','pune','mumbai']]
output

[0, 10, 20, 30]

In [43]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in ['hyd','bengaluru','pune','mumbai']]
sum(output)

60

**walrus operator**

**:=**

In [54]:
[summ=summ+i for i in range(1,11)]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2663275567.py, line 1)

In [71]:
summ=0
output=[summ:=summ+i for i in range(1,11)]
summ

55

**case-2 : for loop - if condition**

In [81]:
#even number
even_list=[]
for i in range(1,11):
    if i%2==0:
        even_list.append(f"even:{i}")
even_list

['even:2', 'even:4', 'even:6', 'even:8', 'even:10']

In [ ]:
[<output> <for loop> <if condition>]   # working
[<output> <if condition> <for loop>]   # not working

In [83]:
[i for i in range(11) if i%2==0]

[0, 2, 4, 6, 8, 10]

In [85]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

In [93]:
input=['hyd','ben#galuru','pune','mu#mbai']
[i for i in input if '#' in i]

['ben#galuru', 'mu#mbai']

In [95]:
input=['hyd','ben#galuru','pune','mu#mbai']
[i for i in input if '#' not in i]

['hyd', 'pune']

- case-1 for loop : [<output> <for loop>]
- case-2 for-if : [<output> <for loop> <if_cond>]
- case-3 for-if-else : [<if_output> <if_cond> <else> <else_cond> <for loop>]

In [103]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,11)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10']

**case-4 : for-if-elif-else**
- [<if_output> <if_cond> <else> [<if_output> <if_cond> <else> <else_cond> <for loop>]
- in list comperhension we don't have elif representation
- elif also represent as else+if
- in elif we have **elif condition** and **elif output**

- Note: instead of elif term write if

In [108]:
l=[56,34,78,67,98,65,88]
for i in l:
    if i>85:
        print(f"{i} A grade")
    elif i>60:
        print(f"{i} B grade")
    else:
        print(f"{i} C grade")

56 C grade
34 C grade
78 B grade
67 B grade
98 A grade
65 B grade
88 A grade

In [112]:
[f"{i} A grade" if i>85 else f"{i} B grade" if i>60 else f"{i} C grade" for i in l]

['56 C grade',
 '34 C grade',
 '78 B grade',
 '67 B grade',
 '98 A grade',
 '65 B grade',
 '88 A grade']