**try-except**

- try and except is a concept of exception handling
- there are two blocks
    - try
    - except

- original code will run under **try** block

- if any occur in **try** block the error will catch by **except** block

- USE cases:
    - 1. code should catch the error automatically
    - 2. code should continue even though we get the error

In [2]:
a=10
b=0
c=a/b
print("hello")

ZeroDivisionError: division by zero

In [6]:
try: 
    a=10
    b=0
    c=a/b
except:
    print("Error coming in try block")
    print("Error is Zero division error")

Error coming in try block
Error is Zero division error

In [8]:
try: 
    a=10
    b=10
    c=a/b
    print(c)
except:
    print("Error coming in try block")
    print("Error is Zero division error")

1.0

**NOTE** 

- **except** block will run only if we get error in try block

- if code is correct **try** block will only execute

In [11]:
# syntax error

# module error

# attribute error

# name error

# type error

# indentation error

# object not callable

# Zero division error

In [29]:
# syntax error

a= 10
b=10
c=a/b
print(c

SyntaxError: incomplete input (3511799248.py, line 6)

In [31]:
# module error

import ankit

ModuleNotFoundError: No module named 'ankit'

In [33]:
# attribute error

import random
random. rani

AttributeError: module 'random' has no attribute 'rani'

In [35]:
# name error

a= 10
b=20
c=a+b
print(e)

NameError: name 'e' is not defined

In [37]:
# type error

'10' * '10'

TypeError: can't multiply sequence by non-int of type 'str'

In [39]:
# indentation error

a = 10
if True:
print("ok")

IndentationError: expected an indented block after 'if' statement on line 4 (630605227.py, line 5)

In [51]:
# object not callable

random()

TypeError: 'module' object is not callable. Did you mean: 'random.random(...)'?

In [45]:
# Zero division error

10/0

ZeroDivisionError: division by zero

In [53]:
n1 = eval(input("Enter the num1 :"))
n2 = eval(input("Enter the num2 :"))
div = n1/n2
print("The division is :",div)

Enter the num1 : 100
Enter the num2 : 10

The division is : 10.0

In [55]:
try:
    n1 = eval(input("Enter the num1 :"))
    n2 = eval(input("Enter the num2 :"))
    div = n1/n2
    print("The division is :",div)
except Exception as e:
    print(e)

Enter the num1 : 100
Enter the num2 : 0

division by zero

In [59]:
try:
    n1 = eval(input("Enter the num1 :"))
    n2 = eval(input("Enter the num2 :"))
    div = n1/n5
    print("The division is :",div)
except Exception as e:
    print(e)

Enter the num1 : 100
Enter the num2 : 45

name 'n5' is not defined

In [61]:
try:
    n1 = eval(input("Enter the num1 :"))
    n2 = eval(input("Enter the num2 :"))
    div = n1/n5
    print("The division is :",div
except Exception as e:
    print(e)

SyntaxError: '(' was never closed (3113525596.py, line 5)

In [63]:
try:
    n1 = eval(input("Enter the num1 :"))
    n2 = eval(input("Enter the num2 :"))
div = n1/n5
    print("The division is :",div)
except Exception as e:
    print(e)

SyntaxError: expected 'except' or 'finally' block (3114130600.py, line 4)

In [57]:
try:
    import naresh
except Exception as e:
    print(e)

No module named 'naresh'

In [65]:
try:
    import random.rani
except Exception as e:
    print(e)

No module named 'random.rani'; 'random' is not a package

In [67]:
try:
    a=10+'10'
    print(a)
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

In [71]:
try:
    '10'*'10'
except Exception as e:
    print(e)

can't multiply sequence by non-int of type 'str'

In [73]:
try:
    a=10
    print(add)
except Exception as e:
    print(e)

name 'add' is not defined

In [79]:
try:
    n1=eval(input("Enter a number"))
    if n1%2==0:
        print(f"The number {n1} is even")
    else:
        print(f"The number {n11} is odd")
except Exception as e:
    print(e)
    a =10
    b =20
    print("a+b" ,a+b)

Enter a number 11

name 'n11' is not defined
a+b 30